.style-menu .menu-properties .property {
    margin-bottom: 5px;
}
.style-menu .menu-properties .property .property-name {
    font-size: 14px;
}
.style-menu .menu-properties .property .added-classes{
    display: flex;
    flex-wrap: wrap;
}
.style-menu .menu-properties .property .add-class {
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    margin: 8px 0;
}
.style-menu .menu-properties .property .add-class input {
    border: none;
    background: none;
    flex-grow: 1;
}
.style-menu .menu-properties .property .add-class input:focus {
    border: none;
    outline: none;
}
.style-menu .menu-properties .property .add-class i {
    font-size: 14px;
    color: #aaa;
}